.nav{
    /* margin: 5 0 0em !important; */
    background-color: rgba(14, 199, 245, 0.034)!important;
}

.spacing{
    /* padding: 0px 100px 0px 100px!important; */
    /* background-color: aquamarine; */
}
.other{
    background-color: rgba(255, 230, 88, 0)!important;
}
.drop{
    background-color: rgb(0, 0, 0)!important;
}